<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
            <div class="e-container-pivotgrid">
                {{ej-pivotgrid id="PivotGrid" e-dataSource=model.dataSource e-enablePaging=model.enablePaging e-renderSuccess=model.renderSuccess}}
            </div>
			        <div id="property-window" class="box wide">
                        <div class="row" style="margin-top: 20px;">
							<div class="chkrad">
								DataSource:
                             </div>
							 <br />
                            <table>
                                <tr>
                                    <td class="chkrad" style="float:left; padding-right:15px">
										{{ ej-radiobutton id="rdbRelational" e-name="datasource" e-checked=model.checked e-text="Relational" e-change=model.renderGrid }}
                                    </td>
                                    <td class="chkrad" colspan="2">
										{{ ej-radiobutton id="rdbOlap" e-name="datasource" e-text="OLAP" e-change=model.renderGrid }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row" style="margin-top: 20px;">
							<div class="chkrad">
								Paging Type:
                             </div>
							 <br />
                            <table>
                                <tr>
                                    <td class="chkrad" style="float:left; padding-right:15px">
										{{ ej-radiobutton id="vScrolling" e-name="types" e-text="Virtual Scrolling" e-change=model.renderGrid }}
                                    </td>
                                    <td class="chkrad" colspan="2">
										{{ ej-radiobutton id="paging" e-name="types" e-checked=model.checked e-text="Paging" e-change=model.renderGrid }}
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </div>
        </div>
    </div>
</div>
<style>
		#PivotGrid {
            width: 100% !important;
			height: 350px;
			overflow: auto;
        }
		.e-hScrollThumb{
		//	left:0px !important;
		}
		.e-vScrollThumb{
		//	top:0px !important;
		}

 </style>
{{outlet}}