<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
                {{ej-bulletgraph id="Bulletgraph" e-qualitativeRangeSize=model.qualitativeRangeSize 
                e-quantitativeScaleLength=model.quantitativeScaleLength 
                e-tooltipSettings=model.tooltipSettings
                e-orientation=model.orientation 
                e-flowDirection=model.flowDirection 
                e-quantitativeScaleSettings=model.quantitativeScaleSettings 
                e-qualitativeRanges=model.qualitativeRanges 
                e-captionSettings=model.captionSettings}}
            {{ej-bulletgraph id="Bulletgraph2" e-qualitativeRangeSize=model.qualitativeRangeSize2
            e-height=model.height2  
            e-quantitativeScaleLength=model.quantitativeScaleLength2
                e-tooltipSettings=model.tooltipSettings2
                e-orientation=model.orientation2
                e-flowDirection=model.flowDirection2
                e-quantitativeScaleSettings=model.quantitativeScaleSettings2
                e-qualitativeRanges=model.qualitativeRanges2
                e-captionSettings=model.captionSettings2
            }}

            {{ej-bulletgraph id="Bulletgraph3" e-qualitativeRangeSize=model.qualitativeRangeSize3
            e-height=model.height3
            e-quantitativeScaleLength=model.quantitativeScaleLength3
                e-tooltipSettings=model.tooltipSettings3
                e-orientation=model.orientation3
                e-flowDirection=model.flowDirection3
                e-quantitativeScaleSettings=model.quantitativeScaleSettings3
                e-qualitativeRanges=model.qualitativeRanges3
                e-captionSettings=model.captionSettings3
            }}
            {{ej-bulletgraph id="Bulletgraph4" e-qualitativeRangeSize=model.qualitativeRangeSize4
            e-height=model.height4
            e-quantitativeScaleLength=model.quantitativeScaleLength4
                e-tooltipSettings=model.tooltipSettings4
                e-orientation=model.orientation4
                e-flowDirection=model.flowDirection4
                e-quantitativeScaleSettings=model.quantitativeScaleSettings4
                e-qualitativeRanges=model.qualitativeRanges4
                e-captionSettings=model.captionSettings4
            }}


        </div>
    </div>
</div>
{{outlet}}